
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>START PAGE ALEX</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/poyavlenie.css">


</head>


<body>
    <div class="header_glav">
            <div class="logohead">
                <img class="logo_gl" src="static/img/logoglav.jpg">
            </div>
        </div>


        <div class="polosa_negro">
            <div class="polosa_negro_text">
                <h1 class="marquee"><span>Только самые вкусные блюда от нашего шеф-повара- Эспиноса Александр, попробуй пьяного хомяка!</span></h1>
            </div>
        </div>

        <div class="wallpaper">
            <img class="wall_foto" src="static/img/centr_img2.jpg">
        </div>
    </div>

    <div class="intro_text">

        Набери в http запросе   блюда из доступных:
        <br>

        index/ ваше блюдо на выбор ниже
        <br>

        1. omlet<br>
        2. pasta<br>
        3. buter<br>
        4. и наше лучшее блюдо:<br>  drunk_hamster<br>

        кроме того Вам доступна опция расчитать сколько еды надо на количество людей.<br> Просто добавьте запрос<br> ?servings = 3(количество людей)
        например  index/omlet?servings=4
        <br>
        <br>


    </div>

</body>



</html>