{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}


    <div class="container">
        <div class="header">

    <div class="container">
        <div class="header">
            <h1><a href="{% url 'books' %}">Каталог</a></h1>
        </div>
        <div class="sort-block">
            <span class="sort-item">Сортировать по:</span>
            <a class="sort-item" href="{% url 'sort_name' %}">названию; </a>
            <a class="sort-item" href="{% url 'sort_date_new' %}">начиная со старых изданий; </a>
            <a class="sort-item" href="{% url 'sort_date_old' %}">начиная с новых изданий; </a>
        </div>


        {% for book in context %}
        <div class="row">
            <div class="book col-md-4">
                <h2>Название книги: {{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }} </p>
            </div>
        </div>

        {% endfor %}
    </div>


{% endblock %}